@font-face {
	font-display: swap;
	font-family:'Open Sans' ;
	src: url('../public/fonts/Lexend-Regular.ttf') format('ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-display: swap;
	font-family:'Open Sans' ;
	src: url('../public/fonts/Lexend-Medium.ttf') format('ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-display: swap;
	font-family:'Open Sans' ;
	src: url('../public/fonts/Lexend-Bold.ttf') format('ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-display: swap;
	font-family:'Futura PT' ;
	src: url('../public/fonts/FuturaPT-Book.ttf') format('ttf');
	font-style: normal;
	font-weight: 400;
}